In [1]:
from os import chdir
from glob import glob
import urllib.request
import pandas as pd
import git
import os
import shutil

In [2]:
# delete the folder
shutil.rmtree("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/COVID-19")

In [3]:
# clone data from JHU CSSE GitHub
git.Git("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data").clone("https://github.com/CSSEGISandData/COVID-19.git")

''

In [4]:
# Move to the path that holds our CSV files
csv_file_path = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports"
chdir(csv_file_path)
# List all CSV files in the working dir
file_pattern = "csv"
list_of_files = [file for file in glob('*.{}'.format(file_pattern))]
list_of_files.sort()

In [5]:
# extact the data(after March 22) from the original folder
for file in list_of_files[60:]:
    os.rename("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/"+ file, "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Daily3_22_/"+file)

In [6]:
# Produce a single CSV after combining all files
def produceOneCSV(list_of_files, file_out):
   # Consolidate all CSV files into one object
   result_obj = pd.concat([pd.read_csv(file) for file in list_of_files])
   # Convert the above object into a csv file and export
   result_obj.to_csv(file_out, index=False, encoding="utf-8")

# Move to the path that holds our CSV files
csv_file_path = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports"
chdir(csv_file_path)

# List all CSV files in the working dir
file_pattern = "csv"
list_of_files = [file for file in glob('*.{}'.format(file_pattern))]
#print(list_of_files)

In [7]:
file_out = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Consolidation.csv"
produceOneCSV(list_of_files, file_out)

In [8]:
df = pd.read_csv(file_out, index_col=None)

In [9]:
def replaceCol(Date):
    drop_=df[df['Last Update'].str.contains('2020-03-'+Date)]
    df = df.drop(drop_.index)
    df_=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/3_"+Date+".csv")
    df = df.append(df_, ignore_index = True)

In [10]:
#replaceCol("11")
#replaceCol("12")
#replaceCol("13")
#replaceCol("14")

In [11]:
Date = "11"
drop_=df[df['Last Update'].str.contains('2020-03-'+Date)]
df = df.drop(drop_.index)
df_=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/3_"+Date+".csv")
df = df.append(df_, ignore_index = True)

In [12]:
Date = "12"
drop_=df[df['Last Update'].str.contains('2020-03-'+Date)]
df = df.drop(drop_.index)
df_=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/3_"+Date+".csv")
df = df.append(df_, ignore_index = True)

In [13]:
Date = "13"
drop_=df[df['Last Update'].str.contains('2020-03-'+Date)]
df = df.drop(drop_.index)
df_=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/3_"+Date+".csv")
df = df.append(df_, ignore_index = True)

In [14]:
Date = "14"
drop_=df[df['Last Update'].str.contains('2020-03-'+Date)]
df = df.drop(drop_.index)
df_=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/3_"+Date+".csv")
df = df.append(df_, ignore_index = True)

In [15]:
Date = "15"
drop_=df[df['Last Update'].str.contains('2020-03-'+Date)]
df = df.drop(drop_.index)
df_=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/3_"+Date+".csv")
df = df.append(df_, ignore_index = True)

In [16]:
# Unify the time format
df["Last Update"] = pd.to_datetime(df["Last Update"])
#df['weekday'] = df['time'].dt.weekday
#df['hour'] = df['time'].dt.hour
#df['minute'] = df['time'].dt.minute
# Unify the name of China
df = df.replace(to_replace='Mainland China', value='China', regex=True)
# sort by date
df = df.sort_values(by=['Last Update'])
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
3213,Hong Kong,Hong Kong,2020-01-22 17:00:00,NaN,NaN,NaN,NaN,NaN
3224,Shaanxi,China,2020-01-22 17:00:00,NaN,NaN,NaN,NaN,NaN
3225,Shandong,China,2020-01-22 17:00:00,2.0,NaN,NaN,NaN,NaN
3226,Shanghai,China,2020-01-22 17:00:00,9.0,NaN,NaN,NaN,NaN
3227,Shanxi,China,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
5364,Alaska,US,2020-03-21 23:13:18,15.0,0.0,0.0,61.3707,-152.4044
5312,Kansas,US,2020-03-21 23:13:18,57.0,2.0,0.0,38.5266,-96.7265
5419,NaN,Cape Verde,2020-03-21 23:43:02,1.0,0.0,0.0,15.1111,-23.6167
5428,NaN,Papua New Guinea,2020-03-21 23:43:02,1.0,0.0,0.0,-6.3150,143.9555
5431,NaN,Uganda,2020-03-21 23:43:02,1.0,0.0,0.0,1.0000,32.0000

In [17]:
df.to_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Consolidation_Before_Mar22.csv",index=None)

In [18]:
# Since the format of daily report differs from the data before March 22, 
# therefore I modify my codes to consolidate those sets of data
d = {'Province/State':[],'Country/Region':[],'Last Update':[],
     'Confirmed':[],'Deaths':[],'Recovered':[],'Latitude':[],'Longitude':[]}
df1=pd.DataFrame(data=d)

In [19]:
df1

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Latitude, Longitude]
Index: []

In [20]:
# Produce a single CSV after combining all files
def produceOneCSV(list_of_files, file_out):
   # Consolidate all CSV files into one object
   result_obj = pd.concat([pd.read_csv(file) for file in list_of_files])
   # Convert the above object into a csv file and export
   result_obj.to_csv(file_out, index=False, encoding="utf-8")

# Move to the path that holds our CSV files
csv_file_path = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Daily3_22_"
chdir(csv_file_path)

# List all CSV files in the working dir
file_pattern = "csv"
list_of_files = [file for file in glob('*.{}'.format(file_pattern))]
#print(list_of_files)

In [21]:
file_out = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Daily3_22_/Consolidation/Consolidation.csv"
produceOneCSV(list_of_files, file_out)

In [22]:
df2 = pd.read_csv(file_out, index_col=None)

In [23]:
df2

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-08 22:51:58,34.223334,-82.461707,5,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-08 22:51:58,30.295065,-92.414197,86,2,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-08 22:51:58,37.767072,-75.632346,11,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-08 22:51:58,43.452658,-116.241552,438,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-08 22:51:58,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
108487,NaN,NaN,NaN,Uzbekistan,2020-03-23 23:19:21,41.377491,64.585262,46,0,0,46,Uzbekistan
108488,NaN,NaN,NaN,Venezuela,2020-03-23 23:19:21,6.423800,-66.589700,77,0,15,62,Venezuela
108489,NaN,NaN,NaN,Vietnam,2020-03-23 23:19:21,14.058324,108.277199,123,0,17,106,Vietnam
108490,NaN,NaN,NaN,Zambia,2020-03-23 23:19:21,-13.133897,27.849332,3,0,0,3,Zambia
108491,NaN,NaN,NaN,Zimbabwe,2020-03-23 23:19:21,-19.015438,29.154857,3,1,0,2,Zimbabwe

In [24]:
df1['Country/Region']=(df2['Country_Region'].values)
df1['Province/State']=(df2['Province_State'].values)
df1['Last Update']=(df2['Last_Update'].values)
df1['Latitude']=(df2['Lat'].values)
df1['Longitude']=(df2['Long_'].values)
df1['Confirmed']=(df2['Confirmed'].values)
df1['Deaths']=(df2['Deaths'].values)
df1['Recovered']=(df2['Recovered'].values)

In [25]:
df1

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,South Carolina,US,2020-04-08 22:51:58,5,0,0,34.223334,-82.461707
1,Louisiana,US,2020-04-08 22:51:58,86,2,0,30.295065,-92.414197
2,Virginia,US,2020-04-08 22:51:58,11,0,0,37.767072,-75.632346
3,Idaho,US,2020-04-08 22:51:58,438,3,0,43.452658,-116.241552
4,Iowa,US,2020-04-08 22:51:58,1,0,0,41.330756,-94.471059
...,...,...,...,...,...,...,...,...
108487,NaN,Uzbekistan,2020-03-23 23:19:21,46,0,0,41.377491,64.585262
108488,NaN,Venezuela,2020-03-23 23:19:21,77,0,15,6.423800,-66.589700
108489,NaN,Vietnam,2020-03-23 23:19:21,123,0,17,14.058324,108.277199
108490,NaN,Zambia,2020-03-23 23:19:21,3,0,0,-13.133897,27.849332
108491,NaN,Zimbabwe,2020-03-23 23:19:21,3,1,0,-19.015438,29.154857

In [26]:
df = df.append(df1, ignore_index = True)

In [27]:
# Unify the time format
df["Last Update"] = pd.to_datetime(df["Last Update"])
# Unify the name of China
df = df.replace(to_replace='Mainland China', value='China', regex=True)
# sort by date
df = df.sort_values(by=['Last Update'])
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hong Kong,Hong Kong,2020-01-22 17:00:00,NaN,NaN,NaN,NaN,NaN
21,Guangxi,China,2020-01-22 17:00:00,2.0,NaN,NaN,NaN,NaN
22,Guizhou,China,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
23,Hainan,China,2020-01-22 17:00:00,4.0,NaN,NaN,NaN,NaN
24,Hebei,China,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
38739,Northern Territory,Australia,2020-04-14 23:41:11,28.0,0.0,6.0,-12.4634,130.8456
38760,South Australia,Australia,2020-04-14 23:41:11,433.0,4.0,240.0,-34.9285,138.6007
38747,Queensland,Australia,2020-04-14 23:41:11,998.0,5.0,442.0,-27.4698,153.0251
38735,New South Wales,Australia,2020-04-14 23:41:11,2870.0,25.0,4.0,-33.8688,151.2093
38768,Western Australia,Australia,2020-04-14 23:41:11,527.0,6.0,251.0,-31.9505,115.8605

In [28]:
df.drop_duplicates(keep = False, inplace = True)

In [29]:
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hong Kong,Hong Kong,2020-01-22 17:00:00,NaN,NaN,NaN,NaN,NaN
21,Guangxi,China,2020-01-22 17:00:00,2.0,NaN,NaN,NaN,NaN
22,Guizhou,China,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
23,Hainan,China,2020-01-22 17:00:00,4.0,NaN,NaN,NaN,NaN
24,Hebei,China,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
38739,Northern Territory,Australia,2020-04-14 23:41:11,28.0,0.0,6.0,-12.4634,130.8456
38760,South Australia,Australia,2020-04-14 23:41:11,433.0,4.0,240.0,-34.9285,138.6007
38747,Queensland,Australia,2020-04-14 23:41:11,998.0,5.0,442.0,-27.4698,153.0251
38735,New South Wales,Australia,2020-04-14 23:41:11,2870.0,25.0,4.0,-33.8688,151.2093
38768,Western Australia,Australia,2020-04-14 23:41:11,527.0,6.0,251.0,-31.9505,115.8605

In [30]:
df.to_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Consolidation.csv",index=None)