In [207]:
from os import chdir
from glob import glob
import pandas as pd

In [208]:
# Produce a single CSV after combining all files
def produceOneCSV(list_of_files, file_out):
   # Consolidate all CSV files into one object
   result_obj = pd.concat([pd.read_csv(file) for file in list_of_files])
   # Convert the above object into a csv file and export
   result_obj.to_csv(file_out, index=False, encoding="utf-8")

# Move to the path that holds our CSV files
csv_file_path = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports"
chdir(csv_file_path)

# List all CSV files in the working dir
file_pattern = "csv"
list_of_files = [file for file in glob('*.{}'.format(file_pattern))]
#print(list_of_files)

In [209]:
file_out = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Consolidation.csv"
produceOneCSV(list_of_files, file_out)

In [210]:
df = pd.read_csv(file_out, index_col=None)

In [211]:
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-02-26T14:13:10,65187.0,2615.0,20969.0,NaN,NaN
1,Guangdong,Mainland China,2020-02-26T10:33:02,1347.0,7.0,851.0,NaN,NaN
2,Henan,Mainland China,2020-02-26T10:33:02,1271.0,19.0,1033.0,NaN,NaN
3,NaN,South Korea,2020-02-26T11:03:11,1261.0,12.0,22.0,NaN,NaN
4,Zhejiang,Mainland China,2020-02-26T10:33:02,1205.0,1.0,867.0,NaN,NaN
...,...,...,...,...,...,...,...,...
7612,Northern Territory,Australia,2020-03-06T04:33:03,0.0,0.0,0.0,-12.4634,130.8456
7613,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,29.3829,-98.6134
7614,"Montgomery County, TX",US,2020-03-07T19:53:02,0.0,0.0,0.0,30.3213,-95.4778
7615,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,41.2545,-95.9758
7616,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,38.2721,-121.9399

In [212]:
#N=0
#for i in df["Last Update"]:
#    filtered_value = filter(lambda ch: ch in '0123456789.-: ', i)
#    df["Last Update"][N]=''.join(list(filtered_value))
#    N=N+1

#crazystring = '2020-02-24T23:33:02'
#new_crazy = filter(lambda ch: ch in '0123456789.-: ', crazystring)
#print(''.join(list(new_crazy)))

In [213]:
#df.loc[df['Last Update'] == '2020-03-06T04:33:03']
drop3_13=df[df['Last Update'].str.contains('2020-03-13')]
drop3_13

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
2201,Diamond Princess,Cruise Ship,2020-03-13T14:13:25,696.0,7.0,325.0,35.4498,139.6649
2216,Hebei,China,2020-03-13T11:09:03,318.0,6.0,310.0,38.0428,114.5149
2253,Shanxi,China,2020-03-13T11:09:03,133.0,0.0,133.0,37.5777,112.2922
2419,NaN,Bhutan,2020-03-13T22:22:02,1.0,0.0,0.0,27.5142,90.4336
2430,NaN,Holy See,2020-03-13T22:22:02,1.0,0.0,0.0,41.9029,12.4534
...,...,...,...,...,...,...,...,...
6409,NaN,Nepal,2020-03-13T22:22:03,1.0,0.0,1.0,28.3949,84.1240
6503,Hebei,China,2020-03-13T11:09:03,318.0,6.0,310.0,38.0428,114.5149
6551,Shanxi,China,2020-03-13T11:09:03,133.0,0.0,133.0,37.5777,112.2922
6713,NaN,Holy See,2020-03-13T22:22:02,1.0,0.0,0.0,41.9029,12.4534
6714,NaN,Nepal,2020-03-13T22:22:03,1.0,0.0,1.0,28.3949,84.1240

In [214]:
drop3_13.index

Int64Index([2201, 2216, 2253, 2419, 2430, 2434, 2442, 2476, 2488, 2523,
            ...
            5721, 5722, 6198, 6240, 6408, 6409, 6503, 6551, 6713, 6714],
           dtype='int64', length=132)

In [215]:
df = df.drop(drop3_13.index)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-02-26T14:13:10,65187.0,2615.0,20969.0,NaN,NaN
1,Guangdong,Mainland China,2020-02-26T10:33:02,1347.0,7.0,851.0,NaN,NaN
2,Henan,Mainland China,2020-02-26T10:33:02,1271.0,19.0,1033.0,NaN,NaN
3,NaN,South Korea,2020-02-26T11:03:11,1261.0,12.0,22.0,NaN,NaN
4,Zhejiang,Mainland China,2020-02-26T10:33:02,1205.0,1.0,867.0,NaN,NaN
...,...,...,...,...,...,...,...,...
7612,Northern Territory,Australia,2020-03-06T04:33:03,0.0,0.0,0.0,-12.4634,130.8456
7613,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,29.3829,-98.6134
7614,"Montgomery County, TX",US,2020-03-07T19:53:02,0.0,0.0,0.0,30.3213,-95.4778
7615,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,41.2545,-95.9758
7616,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,38.2721,-121.9399

In [216]:
df3_13=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/3_13.csv")
df3_13

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,NaN,Thailand,3/13/2020,82,1,35,15.0000,101.0000
1,NaN,Japan,3/13/2020,773,19,118,36.0000,138.0000
2,NaN,Singapore,3/13/2020,212,0,97,1.2833,103.8333
3,NaN,Nepal,3/13/2020,1,0,1,28.1667,84.2500
4,NaN,Malaysia,3/13/2020,238,0,26,2.5000,112.5000
...,...,...,...,...,...,...,...,...
496,NaN,Jersey,3/13/2020,0,0,0,49.1900,-2.1100
497,NaN,Puerto Rico,3/13/2020,0,0,0,18.2000,-66.5000
498,NaN,Republic of the Congo,3/13/2020,0,0,0,-1.4400,15.5560
499,NaN,The Bahamas,3/13/2020,0,0,0,24.2500,-76.0000
500,NaN,The Gambia,3/13/2020,0,0,0,13.4667,-16.6000

In [217]:
df = df.append(df3_13, ignore_index = True)

In [218]:
# Unify the time format
df["Last Update"] = pd.to_datetime(df["Last Update"])
#df['weekday'] = df['time'].dt.weekday
#df['hour'] = df['time'].dt.hour
#df['minute'] = df['time'].dt.minute
# Unify the name of China
df = df.replace(to_replace='Mainland China', value='China', regex=True)
# sort by date
df = df.sort_values(by=['Last Update'])
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
3870,Hunan,China,2020-01-22 17:00:00,4.0,NaN,NaN,NaN,NaN
3861,Guangdong,China,2020-01-22 17:00:00,26.0,NaN,NaN,NaN,NaN
3869,Hubei,China,2020-01-22 17:00:00,444.0,17.0,28.0,NaN,NaN
3868,Hong Kong,Hong Kong,2020-01-22 17:00:00,NaN,NaN,NaN,NaN,NaN
3867,Henan,China,2020-01-22 17:00:00,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6368,Colorado,US,2020-03-21 23:13:18,390.0,4.0,0.0,39.0598,-105.3111
6478,Delaware,US,2020-03-21 23:13:18,45.0,0.0,0.0,39.3185,-75.5071
6574,NaN,Cape Verde,2020-03-21 23:43:02,1.0,0.0,0.0,15.1111,-23.6167
6589,NaN,Uganda,2020-03-21 23:43:02,1.0,0.0,0.0,1.0000,32.0000
6585,NaN,Papua New Guinea,2020-03-21 23:43:02,1.0,0.0,0.0,-6.3150,143.9555

In [219]:
df.to_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Consolidation_Before_Mar22.csv",index=None)

In [220]:
# Since the format of daily report differs from the data before March 22, 
# therefore I modify my codes to consolidate those sets of data
d = {'Province/State':[],'Country/Region':[],'Last Update':[],
     'Confirmed':[],'Deaths':[],'Recovered':[],'Latitude':[],'Longitude':[]}
df1=pd.DataFrame(data=d)

In [221]:
df1

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Latitude, Longitude]
Index: []

In [222]:
# Produce a single CSV after combining all files
def produceOneCSV(list_of_files, file_out):
   # Consolidate all CSV files into one object
   result_obj = pd.concat([pd.read_csv(file) for file in list_of_files])
   # Convert the above object into a csv file and export
   result_obj.to_csv(file_out, index=False, encoding="utf-8")

# Move to the path that holds our CSV files
csv_file_path = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Daily3_22_"
chdir(csv_file_path)

# List all CSV files in the working dir
file_pattern = "csv"
list_of_files = [file for file in glob('*.{}'.format(file_pattern))]
#print(list_of_files)

In [223]:
file_out = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Daily3_22_/Consolidation/Consolidation.csv"
produceOneCSV(list_of_files, file_out)

In [224]:
df2 = pd.read_csv(file_out, index_col=None)

In [225]:
df2

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-24 23:37:31,34.223334,-82.461707,1,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-24 23:37:31,30.295065,-92.414197,2,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-24 23:37:31,37.767072,-75.632346,1,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-24 23:37:31,43.452658,-116.241552,19,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-24 23:37:31,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
10244,NaN,NaN,NaN,Syria,3/22/20 23:45,34.802075,38.996815,1,0,0,1,Syria
10245,NaN,NaN,NaN,Timor-Leste,3/22/20 23:45,-8.874217,125.727539,1,0,0,1,Timor-Leste
10246,NaN,NaN,NaN,Uganda,3/22/20 23:45,1.373333,32.290275,1,0,0,1,Uganda
10247,11001.0,District of Columbia,District of Columbia,US,3/22/20 23:45,38.904178,-77.016560,102,2,0,0,"District of Columbia,District of Columbia,US"
10248,53023.0,Garfield County,Washington,US,3/22/20 23:45,46.451975,-117.545403,1,2,0,0,"Garfield County,Washington,US"

In [226]:
df1['Country/Region']=(df2['Country_Region'].values)
df1['Province/State']=(df2['Province_State'].values)
df1['Last Update']=(df2['Last_Update'].values)
df1['Latitude']=(df2['Lat'].values)
df1['Longitude']=(df2['Long_'].values)
df1['Confirmed']=(df2['Confirmed'].values)
df1['Deaths']=(df2['Deaths'].values)
df1['Recovered']=(df2['Recovered'].values)

In [227]:
df1

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,South Carolina,US,2020-03-24 23:37:31,1,0,0,34.223334,-82.461707
1,Louisiana,US,2020-03-24 23:37:31,2,0,0,30.295065,-92.414197
2,Virginia,US,2020-03-24 23:37:31,1,0,0,37.767072,-75.632346
3,Idaho,US,2020-03-24 23:37:31,19,0,0,43.452658,-116.241552
4,Iowa,US,2020-03-24 23:37:31,1,0,0,41.330756,-94.471059
...,...,...,...,...,...,...,...,...
10244,NaN,Syria,3/22/20 23:45,1,0,0,34.802075,38.996815
10245,NaN,Timor-Leste,3/22/20 23:45,1,0,0,-8.874217,125.727539
10246,NaN,Uganda,3/22/20 23:45,1,0,0,1.373333,32.290275
10247,District of Columbia,US,3/22/20 23:45,102,2,0,38.904178,-77.016560
10248,Washington,US,3/22/20 23:45,1,2,0,46.451975,-117.545403

In [228]:
df = df.append(df1, ignore_index = True)

In [229]:
# Unify the time format
df["Last Update"] = pd.to_datetime(df["Last Update"])
# Unify the name of China
df = df.replace(to_replace='Mainland China', value='China', regex=True)
# sort by date
df = df.sort_values(by=['Last Update'])
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hunan,China,2020-01-22 17:00:00,4.0,NaN,NaN,NaN,NaN
21,Taiwan,Taiwan,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
22,Sichuan,China,2020-01-22 17:00:00,5.0,NaN,NaN,NaN,NaN
23,Shanxi,China,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
24,Shanghai,China,2020-01-22 17:00:00,9.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
11227,South Australia,Australia,2020-03-24 23:41:50,170.0,0.0,6.0,-34.9285,138.6007
11160,Australian Capital Territory,Australia,2020-03-24 23:41:50,39.0,0.0,0.0,-35.4735,149.0124
11204,New South Wales,Australia,2020-03-24 23:41:50,818.0,7.0,4.0,-33.8688,151.2093
11229,Tasmania,Australia,2020-03-24 23:41:50,28.0,0.0,3.0,-42.8821,147.3272
11208,Northern Territory,Australia,2020-03-24 23:41:50,6.0,0.0,0.0,-12.4634,130.8456

In [230]:
df.drop_duplicates(keep = False, inplace = True)

In [231]:
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hunan,China,2020-01-22 17:00:00,4.0,NaN,NaN,NaN,NaN
21,Taiwan,Taiwan,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
22,Sichuan,China,2020-01-22 17:00:00,5.0,NaN,NaN,NaN,NaN
23,Shanxi,China,2020-01-22 17:00:00,1.0,NaN,NaN,NaN,NaN
24,Shanghai,China,2020-01-22 17:00:00,9.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
11227,South Australia,Australia,2020-03-24 23:41:50,170.0,0.0,6.0,-34.9285,138.6007
11160,Australian Capital Territory,Australia,2020-03-24 23:41:50,39.0,0.0,0.0,-35.4735,149.0124
11204,New South Wales,Australia,2020-03-24 23:41:50,818.0,7.0,4.0,-33.8688,151.2093
11229,Tasmania,Australia,2020-03-24 23:41:50,28.0,0.0,3.0,-42.8821,147.3272
11208,Northern Territory,Australia,2020-03-24 23:41:50,6.0,0.0,0.0,-12.4634,130.8456

In [232]:
df.to_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Consolidation.csv",index=None)