In [1]:
from os import chdir
from glob import glob
import pandas as pd
import git
import shutil

In [2]:
# delete the folder
shutil.rmtree("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/COVID-19")
# clone data from JHU CSSE GitHub
git.Git("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data").clone("https://github.com/CSSEGISandData/COVID-19.git")

''

In [3]:
path = "/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/COVID-19/csse_covid_19_data/csse_covid_19_time_series/"

In [4]:
confirmed = pd.read_csv(path+"time_series_covid19_confirmed_global.csv", index_col=None)
deaths = pd.read_csv(path+"time_series_covid19_deaths_global.csv", index_col=None)
recovered = pd.read_csv(path+"time_series_covid19_recovered_global.csv", index_col=None)
US_confirmed = pd.read_csv(path+"time_series_covid19_confirmed_US.csv", index_col=None)
US_deaths = pd.read_csv(path+"time_series_covid19_deaths_US.csv", index_col=None)
recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,179,188,188,207,220,228,252,260,310,331
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,385,394,403,410,422,431,455,470,488,519
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1355,1408,1479,1508,1558,1651,1702,1779,1821,1872
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,333,344,344,344,385,398,423,468,468,472
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,6,6,6,6,6,6,7,7,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,4,4,4,4,4
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1279,1351,1463,1531,1703,1828,1939,2171,2335,2469
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,663,678,712,726,736,750,766,773,782,789
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,3007,3127,3256,3382,3517,3649,3848,4006,4154,4295
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,723,731,738,738,743,743,743,745,745,747
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,25,25,25,26,27,27,27,27,30,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,8,8,14,16,16
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,6,6,7,10
264,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
265,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,15,15,76

In [6]:
US_deaths = US_deaths.drop(['UID','iso2','iso3','code3','FIPS','Admin2','Combined_Key'], axis=1)
US_confirmed = US_confirmed.drop(['UID','iso2','iso3','code3','FIPS','Admin2','Combined_Key'], axis=1)

In [7]:
US_confirmed

,Province_State,Country_Region,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
0,American Samoa,US,-14.271000,-170.132000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,US,13.444300,144.793700,0,0,0,0,0,0,...,139,141,141,141,141,141,141,145,145,145
2,Northern Mariana Islands,US,15.097900,145.673900,0,0,0,0,0,0,...,14,14,14,14,14,14,14,14,14,14
3,Puerto Rico,US,18.220800,-66.590100,0,0,0,0,0,0,...,1416,1276,1307,1371,1389,1400,1433,1539,1575,1757
4,Virgin Islands,US,18.335800,-64.896300,0,0,0,0,0,0,...,54,54,55,57,57,57,57,66,66,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,Utah,US,39.372319,-111.575868,0,0,0,0,0,0,...,21,21,21,21,22,22,22,23,23,23
3257,Utah,US,38.996171,-110.701396,0,0,0,0,0,0,...,7,8,11,12,13,13,14,12,13,15
3258,Utah,US,37.854472,-111.441876,0,0,0,0,0,0,...,76,81,83,87,89,91,93,98,101,103
3259,Utah,US,40.124915,-109.517442,0,0,0,0,0,0,...,9,9,9,10,11,11,11,13,13,13
3260,Utah,US,41.271160,-111.914512,0,0,0,0,0,0,...,136,140,143,145,148,148,151,158,162,166

In [8]:
def merge(A,B):
    
    M = pd.merge(A, B, left_on = 
                 ['Province/State','Country/Region','Lat','Long'], 
                 right_on = 
                 ['Province/State','Country/Region','Lat','Long'])
    return M

mergeDf = merge(confirmed, recovered)
mergeDf = merge(mergeDf, deaths)
#mergeDf = pd.merge(mergeDf0, deaths, left_on = ['Province/State','Country/Region','Lat','Long'], right_on = ['Province/State','Country/Region','Lat','Long'])
#mergeDf
US_confirmed = US_confirmed.rename(columns={"Province_State": 'Province/State',
                            "Country_Region":"Country/Region",
                           "Long_":"Long"})
US_deaths = US_deaths.rename(columns={"Province_State": 'Province/State',
                            "Country_Region":"Country/Region",
                           "Long_":"Long"})

In [9]:
mergeUS = merge(US_confirmed, US_deaths)
mergeUS

,Province/State,Country/Region,Lat,Long,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,1/27/20_x,...,4/23/20_y,4/24/20_y,4/25/20_y,4/26/20_y,4/27/20_y,4/28/20_y,4/29/20_y,4/30/20_y,5/1/20_y,5/2/20_y
0,American Samoa,US,-14.2710,-170.1320,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,US,13.4443,144.7937,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
2,Northern Mariana Islands,US,15.0979,145.6739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
3,Puerto Rico,US,18.2208,-66.5901,0,0,0,0,0,0,...,69,77,83,84,84,86,86,92,94,95
4,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,0,...,3,3,3,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3382,Wyoming,US,0.0000,0.0000,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3383,Wyoming,US,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3384,Wyoming,US,0.0000,0.0000,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3385,Diamond Princess,US,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3386,Grand Princess,US,0.0000,0.0000,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3

In [10]:
days = len(confirmed.columns) - 4
def createUSDf(date, data):
    # initial dataframe
    d = {'Province/State':[],'Country/Region':[],'Last Update':[],
         'Confirmed':[],'Deaths':[],'Recovered':[],'Latitude':[],'Longitude':[]}
    df=pd.DataFrame(data=d)
    df['Country/Region']=(data['Country/Region'].values)
    df['Province/State']=(data['Province/State'].values)
    df['Latitude']=(data['Lat'].values)
    df['Longitude']=(data['Long'].values)
    D=[]
    for i in range(0,len(data)):
        D.append(US_confirmed.columns[date])
    df['Last Update']=D
    df['Confirmed']=(data[data.columns[date]].values)
    df['Deaths']=(data[data.columns[date + days]].values)
    return df

In [11]:
# initial dataframe
d = {'Province/State':[],'Country/Region':[],'Last Update':[],
    'Confirmed':[],'Deaths':[],'Recovered':[],'Latitude':[],'Longitude':[]}
df_US=pd.DataFrame(data=d)
for i in range(4,len(US_confirmed.columns)):
    df_US = df_US.append(createUSDf(i, mergeUS))

#df_US=pd.DataFrame(data=d)
#for i in range(4,len(confirmed.columns)):
#    df_US = df_US.append(createDf(i, mergeUS))
df_US

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,American Samoa,US,1/22/20,0.0,55641.0,NaN,-14.2710,-170.1320
1,Guam,US,1/22/20,0.0,164229.0,NaN,13.4443,144.7937
2,Northern Mariana Islands,US,1/22/20,0.0,55144.0,NaN,15.0979,145.6739
3,Puerto Rico,US,1/22/20,0.0,2933408.0,NaN,18.2208,-66.5901
4,Virgin Islands,US,1/22/20,0.0,107268.0,NaN,18.3358,-64.8963
...,...,...,...,...,...,...,...,...
3382,Wyoming,US,5/2/20,0.0,6.0,NaN,0.0000,0.0000
3383,Wyoming,US,5/2/20,0.0,0.0,NaN,0.0000,0.0000
3384,Wyoming,US,5/2/20,0.0,6.0,NaN,0.0000,0.0000
3385,Diamond Princess,US,5/2/20,49.0,0.0,NaN,0.0000,0.0000
3386,Grand Princess,US,5/2/20,103.0,3.0,NaN,0.0000,0.0000

In [12]:
df_US_Mar = df_US[df_US['Last Update']>='3/1/20']

In [13]:
df_US_Mar.to_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Convert_US.csv",index=None)

In [14]:
days = len(confirmed.columns) - 4
def createDf(date, data):
    # initial dataframe
    d = {'Province/State':[],'Country/Region':[],'Last Update':[],
         'Confirmed':[],'Deaths':[],'Recovered':[],'Latitude':[],'Longitude':[]}
    df=pd.DataFrame(data=d)
    df['Country/Region']=(data['Country/Region'].values)
    df['Province/State']=(data['Province/State'].values)
    df['Latitude']=(data['Lat'].values)
    df['Longitude']=(data['Long'].values)
    D=[]
    for i in range(0,len(data)):
        D.append(confirmed.columns[date])
    df['Last Update']=D
    df['Confirmed']=(data[data.columns[date]].values)
    df['Recovered']=(data[data.columns[date + days]].values)
    df['Deaths']=(data[data.columns[date + days + days]].values)
    return df

In [15]:
# initial dataframe
d = {'Province/State':[],'Country/Region':[],'Last Update':[],
    'Confirmed':[],'Deaths':[],'Recovered':[],'Latitude':[],'Longitude':[]}
df=pd.DataFrame(data=d)
for i in range(4,len(confirmed.columns)):
    df = df.append(createDf(i, mergeDf))

#df_US=pd.DataFrame(data=d)
#for i in range(4,len(confirmed.columns)):
#    df_US = df_US.append(createDf(i, mergeUS))
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,NaN,Afghanistan,1/22/20,0.0,0.0,0.0,33.000000,65.000000
1,NaN,Albania,1/22/20,0.0,0.0,0.0,41.153300,20.168300
2,NaN,Algeria,1/22/20,0.0,0.0,0.0,28.033900,1.659600
3,NaN,Andorra,1/22/20,0.0,0.0,0.0,42.506300,1.521800
4,NaN,Angola,1/22/20,0.0,0.0,0.0,-11.202700,17.873900
...,...,...,...,...,...,...,...,...
233,Saint Pierre and Miquelon,France,5/2/20,1.0,0.0,0.0,46.885200,-56.315900
234,NaN,Western Sahara,5/2/20,6.0,0.0,5.0,24.215500,-12.885800
235,NaN,Sao Tome and Principe,5/2/20,16.0,1.0,4.0,0.186360,6.613081
236,NaN,Comoros,5/2/20,3.0,0.0,0.0,-11.645500,43.333300
237,NaN,Tajikistan,5/2/20,76.0,2.0,0.0,38.861034,71.276093

In [16]:
df.to_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Convert.csv",index=None)

drop_=df[df['Country/Region'].str.contains('US')]
df = df.drop(drop_.index)
Consolidation=pd.read_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Consolidation.csv")
df_ = Consolidation[Consolidation['Country/Region'].str.contains('US')]
for i in df_.index:
    df_['Last Update'][i] = df_['Last Update'][i][:-9]
df_

#df = df.append(df_, ignore_index = True) 
# Uniform the Date format
df["Last Update"] = pd.to_datetime(df["Last Update"])

In [17]:
#df

In [18]:
#df.to_csv("/Users/Fox/Desktop/Data Science/Data Visualization/Project2/Data/Convert.csv",index=None)